USE [master]
GO
/****** Object:  Database [ServiceWorkshop]    Script Date: 2/6/2022 5:12:58 PM ******/
CREATE DATABASE [ServiceWorkshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServiceWorkshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ServiceWorkshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServiceWorkshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ServiceWorkshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServiceWorkshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServiceWorkshop]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 2/6/2022 5:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [uniqueidentifier] NOT NULL,
	[CustomerID] [uniqueidentifier] NOT NULL,
	[VehicleID] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Notes] [varchar](max) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/6/2022 5:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NULL,
	[ContactNumber] [varchar](50) NOT NULL,
	[DateAdded] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 2/6/2022 5:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [uniqueidentifier] NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Make] [varchar](50) NOT NULL,
	[RegNumber] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [VehicleID], [Date], [Notes]) VALUES (N'38c8a5dd-d614-40b0-2cb0-08d9e9812132', N'eb17f8af-2566-4702-8111-66ad9fd3166f', N'69270688-3606-4d5a-216b-08d9e97c4606', CAST(N'2022-03-03T16:57:39.0000000' AS DateTime2), N'Booking for Mark on the 3rd of March')
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [VehicleID], [Date], [Notes]) VALUES (N'4726dd8e-6b6a-4dff-bab4-2835638f4cf6', N'2c0f4195-9f6c-4742-aa99-4c5f4c1d12ab', N'902936af-8906-448a-a5e8-32f968ddc3e7', CAST(N'2022-02-03T17:55:50.8500000' AS DateTime2), N'Ford Booking')
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [VehicleID], [Date], [Notes]) VALUES (N'e2b98530-df96-49c1-99c7-3cdf975f7998', N'2c0f4195-9f6c-4742-aa99-4c5f4c1d12ab', N'0e7fb085-780d-4145-9a4e-a56ec0a069a6', CAST(N'2022-02-03T17:55:50.8500000' AS DateTime2), N'Toyota Booking')
GO
INSERT [dbo].[Customers] ([CustomerID], [Name], [Surname], [ContactNumber], [DateAdded], [DateUpdated]) VALUES (N'4fbb183f-0f15-496d-f3ae-08d9e7db6b36', N'Michael', N'Lubbe', N'9999999999', CAST(N'2022-02-04T14:39:38.3436370' AS DateTime2), NULL)
INSERT [dbo].[Customers] ([CustomerID], [Name], [Surname], [ContactNumber], [DateAdded], [DateUpdated]) VALUES (N'd0d7a28c-ef7c-4c85-c335-08d9e7fedd75', N'test', N'test', N'2332222', CAST(N'2022-02-04T18:57:22.1482165' AS DateTime2), NULL)
INSERT [dbo].[Customers] ([CustomerID], [Name], [Surname], [ContactNumber], [DateAdded], [DateUpdated]) VALUES (N'2c0f4195-9f6c-4742-aa99-4c5f4c1d12ab', N'Estra', N'Crouse', N'0732754345', CAST(N'2022-02-03T14:01:30.7200000' AS DateTime2), NULL)
GO
INSERT [dbo].[Vehicles] ([VehicleID], [Model], [Make], [RegNumber]) VALUES (N'd8726757-dfbe-40b2-ee3f-08d9e872724f', N'A4', N'Audi', N'CA 234565')
INSERT [dbo].[Vehicles] ([VehicleID], [Model], [Make], [RegNumber]) VALUES (N'69270688-3606-4d5a-216b-08d9e97c4606', N'Escort', N'Ford', N'JHT234GP')
INSERT [dbo].[Vehicles] ([VehicleID], [Model], [Make], [RegNumber]) VALUES (N'902936af-8906-448a-a5e8-32f968ddc3e7', N'Eco Sport', N'Ford', N'NP 5432323')
GO
USE [master]
GO
